In [1]:
import pandas as pd

In [2]:
df_distance_km = pd.read_excel('../../Datos_P1/df_distance_km.xlsx')
df_location = pd.read_excel('../../Datos_P1/df_location.xlsx')
df_orders = pd.read_excel('../../Datos_P1/df_orders.xlsx')
df_vehicle = pd.read_excel('../../Datos_P1/df_vehicle.xlsx')

In [9]:
df_vehiculos_aleatorios = df_vehicle.sample(n=3, random_state=420) #Elección aleatoria de 3 vehiculos del dataframe, con un random_state para que sea más consistente
df_vehiculos_aleatorios

   vehiculo_id  capacidad_kg  costo_km  autonomia_km
4            5         10000      0.32           350
5            6          3129      0.14           791
3            4          3321      0.19           514

In [10]:
df_vehiculos_aleatorios.reset_index(drop=True ,inplace=True) #Resetear el index del nuevo dataframe para que tenga los numeros 0, 1 y 2
df_vehiculos_aleatorios

   vehiculo_id  capacidad_kg  costo_km  autonomia_km
0            5         10000      0.32           350
1            6          3129      0.14           791
2            4          3321      0.19           514

Esto te elige 3 vehiculos aleatorios del dataframe de vehiculos, lo he dejado con un random_state para que sea consistente, aunque deberiamos probarlo sin ello más adelante